#### Imports and Setup

In [121]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier

#### Load and Prepare Data

In [122]:
df = pd.read_csv('Data/loan_approval_dataset.csv')
df.drop(columns=['loan_id'], inplace=True)
df.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0    no_of_dependents          4269 non-null   int64
 1    education                 4269 non-null   object
 2    self_employed             4269 non-null   object
 3    income_annum              4269 non-null   int64
 4    loan_amount               4269 non-null   int64
 5    loan_term                 4269 non-null   int64
 6    cibil_score               4269 non-null   int64
 7    residential_assets_value  4269 non-null   int64
 8    commercial_assets_value   4269 non-null   int64
 9    luxury_assets_value       4269 non-null   int64
 10   bank_asset_value          4269 non-null   int64
 11   loan_status               4269 non-null   object
dtypes: int64(9), object(3)
memory usage: 400.3+ KB

In [124]:
def strip(col):
  df[col] = df[col].str.strip()

In [125]:
df.columns = df.columns.str.strip()

for col in df.columns:
  if df[col].dtype == 'object':
    print(col)
    strip(col)

education
self_employed
loan_status

#### Encode Categorical Variables

In [127]:
df['loan_status'] = df['loan_status'].map({'Approved': 1, 'Rejected': 0})
df['education'] = df['education'].map({'Graduate': 1, 'Not Graduate': 0})
df['self_employed'] = df['self_employed'].map({'Yes': 1, 'No': 0})
df.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,1,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1
1,0,0,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,1,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0
3,3,1,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0
4,5,0,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,0

#### Explore and Clean Data

In [126]:
df["loan_status"].value_counts()

Approved    2656
Rejected    1613
Name: loan_status, dtype: int64

In [128]:
df.isnull().sum().sum()

0

#### Split and Scale Data

In [129]:
X_train, X_test, y_train, y_test = train_test_split(
  df.drop(columns=['loan_status']),
  df['loan_status'],
  test_size=0.2,
  random_state=42,
)

In [130]:
print(f"X_train shape: {X_train.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (3415, 11)
y_train shape: (3415,)
X_test shape: (854, 11)
y_test shape: (854,)

In [131]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#### Balance Data with SMOTE

In [132]:
### Without SMOTE, the Decision Tree worked better

# smote = SMOTE(random_state=42)
# print(f"Before SMOTE, y_train: {Counter(y_train)}")
# X_train, y_train = smote.fit_resample(X_train, y_train)
# print(f"After SMOTE, y_train: {Counter(y_train)}")

Before SMOTE, y_train: Counter({1: 2120, 0: 1295})
After SMOTE, y_train: Counter({1: 2120, 0: 2120})

### Train and Evaluate Models

#### Logistic Regression

In [133]:
lr = LogisticRegression(max_iter=1000, random_state=42)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print("Classification Report:")
print(classification_report(y_test, y_pred, target_names=['Rejected', 'Approved']))

Classification Report:
              precision    recall  f1-score   support

    Rejected       0.85      0.93      0.89       318
    Approved       0.96      0.90      0.93       536

    accuracy                           0.91       854
   macro avg       0.90      0.92      0.91       854
weighted avg       0.92      0.91      0.91       854

#### Decision Tree

In [134]:
clf = DecisionTreeClassifier(max_depth=13, random_state=42)
clf.fit(X_train, y_train)
y_pred_clf = clf.predict(X_test)

print("Decision Tree Classification Report:")
print(classification_report(y_test, y_pred_clf, target_names=['Rejected', 'Approved']))

Decision Tree Classification Report:
              precision    recall  f1-score   support

    Rejected       0.94      0.97      0.96       318
    Approved       0.98      0.97      0.97       536

    accuracy                           0.97       854
   macro avg       0.96      0.97      0.97       854
weighted avg       0.97      0.97      0.97       854